{% extends 'base.html.twig' %}

{% block head %}    

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
       
        .body{
            background-color: #000;
        }
    </style>

{% block title %}Register{% endblock %}
{% endblock head %}

{% block body %}
    <section class="vh-150 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-2 mt-md-1 pb-5">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

                                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                <p class="text-white-50 mb-5">Welcome to Netflouz !</p>

{{ form_start(registrationForm) }}
        
<div class="form-outline form-white mb-4">
    {{ form_label(registrationForm.email, null, { 'attr': {'class': 'form-label'} }) }}
    {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control form-control-lg'} }) }}
</div>


<div class="form-outline form-white mb-4">
    {{ form_label(registrationForm.name, null, { 'attr': {'class': 'form-label'} }) }}
    {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control form-control-lg'} }) }}
</div>

<div class="form-outline form-white mb-4">
    {{ form_label(registrationForm.plainPassword, 'Password', { 'attr': {'class': 'form-label'} }) }}
    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control form-control-lg'} }) }}
</div>

<div class="form-outline form-white mb-4">
    {{ form_label(registrationForm.country, null, { 'attr': {'class': 'form-label'} }) }}
    {{ form_widget(registrationForm.country, { 'attr': {'class': 'form-control form-control-lg'} }) }}
</div>
<div class="form-outline form-white mb-4">
        {{ form_row(registrationForm.agreeTerms) }}
</div>

   <div class="form-outline form-white mb-4">
        {{ form_row(registrationForm.captcha) }}
</div> 
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

                            <div>
                                <p class="mb-0">I already have a account <a href="{{path('app_login')}}"
                                        class="text-white-50 fw-bold">Sign in</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
            {{ form_end(registrationForm) }}


{% endblock %}